<template>
  <q-page class="">
    <div class="q-pa-md">
      <div class="q-gutter-md">
        <q-select outlined label="Customer Type" @input="getCustsAndMercs" v-model="custtype" :options="cust_type_options" style="max-width: 300px"/>
        <q-select outlined label="Customer" @input="getCards" v-model="customer" :options="cust_options" style="max-width: 800px" use-input input-debounce="0" @filter="custFilter">
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">No match</q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-select outlined label="Card" @input="getCardOption" v-model="card" :options="card_options" style="max-width: 500px" v-if="custtype!=null && custtype.value==0"/>
        <q-select outlined label="Merchant" @input="buildAuthStr" v-model="merchant" :options="merc_options" style="max-width: 800px" use-input input-debounce="0" @filter="mercFilter">
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">No match</q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-input outlined label="Invoice" @input="buildAuthStr" v-model="invoice" style="max-width: 500px"/>
        <q-input outlined label="Hub" @input="buildAuthStr" v-model="hub" style="max-width: 500px"/>
        <q-input outlined label="P.O." @input="buildAuthStr" v-model="po" style="max-width: 500px"/>
        <q-input outlined label="Trip" @input="buildAuthStr" v-model="trip" style="max-width: 500px"/>
        <q-input outlined label="Pre-Auth Reference ID" @input="buildAuthStr" v-model="reference_id" style="max-width: 500px"/>
      </div>
    </div>
    <div class="q-pa-md row items-start q-gutter-md" v-if="custtype!=null && custtype.value==0">
      <q-card>
        <q-card-section>Pin Required</q-card-section>
        <q-card-section>{{ pin_req }}</q-card-section>
      </q-card>
      <q-card>
        <q-card-section>Unit Required</q-card-section>
        <q-card-section>{{ unit_req }}</q-card-section>
      </q-card>
      <q-card>
        <q-card-section>Hub Required</q-card-section>
        <q-card-section>{{ hub_req }}</q-card-section>
      </q-card>
      <q-card>
        <q-card-section>PO Required</q-card-section>
        <q-card-section>{{ po_req }}</q-card-section>
      </q-card>
      <q-card>
        <q-card-section>Trip Required</q-card-section>
        <q-card-section>{{ trip_req }}</q-card-section>
      </q-card>
      <q-card>
        <q-card-section>Merchant UOM</q-card-section>
        <q-card-section>{{ merchant?merchant.uom:null }}</q-card-section>
      </q-card>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <q-btn v-if="merchant" label="Add an item" color="primary" @click="additem = true"/>
      <q-btn v-if="custtype && custtype.value==2" label="Add a fee" color="primary" @click="addfee = true"/>
      <q-dialog v-model="additem">
        <q-card style="width: 700px">
          <q-card-section>
            <div class="text-h6">Add an item</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <q-select outlined @input="getProductTypes" label="Product" v-model="product" :options="product_options" use-input input-debounce="0" @filter="prodFilter">
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">No match</q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-select outlined label="Product Type" v-model="product_type" :options="product_type_options" v-if="custtype!=null && custtype.value==0"/>
            <q-input label="Unit Price" @input="calculateTotal" v-model="unit_price"/>
            <q-input label="Quantity" @input="calculateTotal" v-model="quantity"/>
            <q-select outlined label="Unit of Measure" v-model="uom" :options="product_uom_options" v-if="custtype!=null && custtype.value==0"/>
            <q-input readonly label="Product Total" v-model="eda"/>
          </q-card-section>

          <q-card-actions align="right" class="bg-white text-teal">
            <q-btn flat @click="addItem" label="Add" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-dialog v-model="addfee">
        <q-card style="width: 700px">
          <q-card-section>
            <div class="text-h6">Add a fee</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <q-select outlined label="Fee Category" v-model="fee_category" :options="fee_category_options"/>
            <q-select outlined label="Fee Description" v-model="fee_description" :options="fee_description_options"/>
            <q-input outline label="Fee Amount" v-model="fee_amount" />
          </q-card-section>

          <q-card-actions align="right" class="bg-white text-teal">
            <q-btn flat @click="addFee" label="Add" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>

    <div class="q-pa-md">
      <div class="q-gutter-md">
        <q-table dense title="Items" :data="items" :columns="item_columns">
        </q-table>
      </div>
      <div class="q-gutter-md">
        <q-table v-if="custtype && custtype.value == 2" dense title="Fees" :data="fee_list" :columns="fee_columns">
        </q-table>
      </div>
      <div class="q-gutter-md auth-str">
        <q-input v-if="custtype!=null && custtype.value==0" label="Pre-Auth" v-model="preauth" style="font-family: monospace"/>
        <q-input v-if="custtype!=null && custtype.value==0" label="Auth" v-model="auth" style="font-family: monospace"/>
        <q-input v-if="custtype!=null && custtype.value==2" type="textarea" label="Pre-Auth XML" v-model="preauth"/>
        <q-input v-if="custtype!=null && custtype.value==2" type="textarea" label="Auth XML" v-model="auth"/>
        <q-input v-if="custtype!=null && custtype.value==2" label="Command Line" v-model="commandline"  style="max-width: 800px"/>
        <q-input v-if="custtype!=null && custtype.value==2" type="textarea" label="Fee" v-model="fee"/>
      </div>
    </div>
    <div class="q-pa-md">
      <q-btn label="Reset" color="primary" outline @click="resetForm"/>
    </div>
  </q-page>
</template>

<script lang="ts">
/*
import { Todo, Meta } from 'components/models'
import ExampleComponent from 'components/CompositionComponent.vue'
import { defineComponent, ref } from '@vue/composition-api'
*/
import Vue from 'vue'
import axios from 'axios'

Vue.prototype.$axios = axios

const prettifyXml = function(sourceXml)
{
    var xmlDoc = new DOMParser().parseFromString(sourceXml, 'application/xml');
    var xsltDoc = new DOMParser().parseFromString([
        // describes how we want to modify the XML - indent everything
        '<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform">',
        '  <xsl:strip-space elements="*"/>',
        '  <xsl:template match="para[content-style][not(text())]">', // change to just text() to strip space in text nodes
        '    <xsl:value-of select="normalize-space(.)"/>',
        '  </xsl:template>',
        '  <xsl:template match="node()|@*">',
        '    <xsl:copy><xsl:apply-templates select="node()|@*"/></xsl:copy>',
        '  </xsl:template>',
        '  <xsl:output indent="yes"/>',
        '</xsl:stylesheet>',
    ].join('\n'), 'application/xml');

    var xsltProcessor = new XSLTProcessor();
    xsltProcessor.importStylesheet(xsltDoc);
    var resultDoc = xsltProcessor.transformToDocument(xmlDoc);
    var resultXml = new XMLSerializer().serializeToString(resultDoc);
    return resultXml;
}

const build_auth_string = obj => {
  if (obj.custtype.value == 0) {
    build_msts_auth_string(obj)
  }
  else {
    build_quikq_auth_string(obj)
  }
}

const build_msts_auth_string = obj => {
  const today = new Date()
  const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(today)
  const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(today)
  const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(today)
  const hr = new Intl.DateTimeFormat('en', { hour: '2-digit', hour12: false }).format(today)
  let mn = new Intl.DateTimeFormat('en', { minute: '2-digit' }).format(today)
  if (parseInt(mn) < 10) { mn = `0${mn}` }
  const auth_ts = `${ye}${mo}${da}${hr}${mn}00`
  console.log(`auth_ts: ${auth_ts}`)

  const params = []
  if (obj.invoice) {
    params.push(`INV=${obj.invoice}`)
  }
  if (obj.hub) {
    params.push(`HUB=${obj.hub}`)
  }
  if (obj.po) {
    params.push(`PON=${obj.po}`)
  }
  if (obj.trip) {
    params.push(`TRP=${obj.trip}`)
  }
  if (obj.merchant) {
    params.push(`CUR=${obj.merchant.trans_currency}`)
  }

  const merc_no = obj.merchant ? obj.merchant.value : ''
  var card_no = ''

  if (obj.card) {
    card_no = obj.card.label
    if (obj.card.pin) {
      params.push(`PIN=${obj.card.pin}`)
    }
    if (obj.card.unit) {
      params.push(`UNT=${obj.card.unit}`)
    }
  }

  obj.preauth = `auth_test.sh -s t -m p -t '4.0|PA|${merc_no}|T2|${card_no}|${auth_ts}|${params.join(';')}|PGR=FUEL;SER=SELF#PGR=NON-FUEL|'`

  params.push(`TOT=${obj.total}`)
  if (obj.reference_id) {
    params.push(`REF=${obj.reference_id}`)
  }

  var items = []
  for (let i in obj.items) {
    const item = obj.items[i]
    items.push(`PRD=${item.product};PRT=${item.product_type};SER=SELF;UPR=${item.unitprice};QTY=${item.quantity};UOM=${item.uom};EDA=${item.eda}`)
  }
  obj.auth = `auth_test.sh -s t -m p -t '4.0|AU|${merc_no}|T2|${card_no}|${auth_ts}|${params.join(';')}|${items.join('#')}|'`
}

const build_quikq_auth_string = obj => {
  const params = []
  if (obj.hub) {
    params.push({id: 'HUB', value: obj.hub})
  }
  if (obj.po) {
    params.push({id: 'PO_NUMBER', value: obj.po})
  }
  if (obj.trip) {
    params.push({id: 'TRIP', value: obj.trip})
  }
  if (obj.unit) {
    params.push({id: 'UNIT_NUMBER', value: obj.unit})
  }

  var dataElements = document.createElementNS('http://www.w3.org/1999/xhtml', 'dataElements')
  var xml2
  var tag1
  var tag2
  for (let i in params) {
    xml2 = document.createElementNS('http://www.w3.org/1999/xhtml', 'dataElement')
    tag1 = document.createElementNS('http://www.w3.org/1999/xhtml', 'dataElementId')
    tag1.textContent = params[i].id
    tag2 = document.createElementNS('http://www.w3.org/1999/xhtml', 'dataElementData')
    tag2.textContent = params[i].value
    xml2.appendChild(tag1)
    xml2.appendChild(tag2)
    dataElements.appendChild(xml2)
  }

  var productData = document.createElementNS('http://www.w3.org/1999/xhtml', 'productData')
  for (let i in obj.items) {
    const item = obj.items[i]
    xml2 = document.createElement('product')

    tag1 = document.createElement('prodcode')
    tag1.textContent = item.product
    xml2.appendChild(tag1)

    tag1 = document.createElement('quantity')
    tag1.textContent = item.quantity
    xml2.appendChild(tag1)

    tag1 = document.createElement('description')
    xml2.appendChild(tag1)

    tag1 = document.createElementNS('http://www.w3.org/1999/xhtml', 'discountAmount')
    tag1.textContent = 0
    xml2.appendChild(tag1)

    tag1 = document.createElementNS('http://www.w3.org/1999/xhtml', 'unitprice')
    tag1.textContent = item.unitprice
    xml2.appendChild(tag1)

    tag1 = document.createElementNS('http://www.w3.org/1999/xhtml', 'adjPrice')
    tag1.textContent = item.unitprice
    xml2.appendChild(tag1)

    tag1 = document.createElement('tax')
    tag1.textContent = 0
    xml2.appendChild(tag1)

    tag1 = document.createElementNS('http://www.w3.org/1999/xhtml', 'prodAdjTotal')
    tag1.textContent = item.eda
    xml2.appendChild(tag1)

    tag1 = document.createElementNS('http://www.w3.org/1999/xhtml', 'productTotal')
    tag1.textContent = item.eda
    xml2.appendChild(tag1)
    productData.appendChild(xml2)
  }

  const today = new Date()
  const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(today)
  const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(today)
  const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(today)
  const hr = new Intl.DateTimeFormat('en', { hour: '2-digit', hour12: false }).format(today)
  let mn = new Intl.DateTimeFormat('en', { minute: '2-digit' }).format(today)
  if (parseInt(mn) < 10) { mn = `0${mn}` }
  const auth_ts = `${ye}-${mo}-${da}T${hr}:${mn}:00`

  obj.preauth = prettifyXml(`<?xml version="1.0" encoding="UTF-8"?>
<creditAuth xmlns="http://www.quikq.com/xsd/creditAuth" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.quikq.com/xsd/creditAuth creditAuth.xsd">
   <transaction msgId="0354843301_FD">
      <startCode>${obj.customer?obj.customer.value:''}</startCode>
      <carrierName>${obj.customer?obj.customer.name:''}</carrierName>
      <stationTime>${auth_ts}</stationTime>
      <tranTime>${auth_ts}Z</tranTime>
      <expTime>${auth_ts}Z</expTime>
      <password />
      <stationCode>${obj.merchant?obj.merchant.value:''}</stationCode>
      <transactionNumber subNum="01">${obj.invoice}</transactionNumber>
      <transactionLimit>750.00</transactionLimit>
  ${dataElements.outerHTML}
  </transaction>
</creditAuth>`)

  obj.auth = prettifyXml(`<?xml version="1.0" encoding="UTF-8"?>
<creditPurchase xmlns="http://www.quikq.com/xsd/creditPurchase" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.quikq.com/xsd/creditPurchase creditPurchase.xsd">
   <transaction isFinal="1" msgId="0354844530_FD">
      <startCode>${obj.customer?obj.customer.value:''}</startCode>
      <stationTime>${auth_ts}</stationTime>
      <tranTime>${auth_ts}Z</tranTime>
      <password />
      <stationCode>${obj.merchant?obj.merchant.value:''}</stationCode>
      <transactionNumber subNum="02">${obj.invoice}</transactionNumber>
      <cashierID>670</cashierID>
      <transactionTax>0</transactionTax>
      <transactionTotal>${obj.total}</transactionTotal>
      <completionCode>2299674</completionCode>
      <authorizationCode>${obj.reference_id}</authorizationCode>
  ${dataElements.outerHTML}
  <backdatedPurchase>false</backdatedPurchase>
  ${productData.outerHTML}
  </transaction>
</creditPurchase>`)

  let fee_list = JSON.stringify(obj.fee_list)
  obj.fee = `{
  "data": {
    "type": "qq_fees",
    "attributes": {
      "start_code": ${obj.customer?obj.customer.value:''},
      "trans_num": "${obj.invoice}_02",
      "type": "T",
      "trans_type": "P",
      "fee_date": "${auth_ts}Z",
      "fees": ${fee_list}
    }
  }
}`
}

export default {
  data () {
    return {
      custtype: null,
      cust_type_options: [{ value: 0, label: 'OTR' }, { value: 2, label: 'QuikQ' }],
      customer: null,
      cust_list: [],
      cust_options: [],
      card: null,
      card_options: [],
      merchant: null,
      merc_list: [],
      merc_options: [],
      invoice: null,
      hub: null,
      po: null,
      trip: null,
      reference_id: null,
      preauth: null,
      auth: null,
      commandline: null,
      pin_req: null,
      unit_req: null,
      po_req: null,
      trip_req: null,
      hub_req: null,
      additem: false,
      addfee: false,
      product: null,
      product_type: null,
      unit_price: null,
      quantity: null,
      eda: 0,
      product_list: [],
      product_options: [],
      product_uom_options: [],
      uom: null,
      product_type_options: [],
      items: [],
      total: 0,
      fee: null,
      fee_list: [],
      fee_category_options: [],
      fee_category: null,
      fee_description_options: [],
      fee_description: null,
      fee_amount: 0,
      item_columns: [
        {
          name: 'product_type',
          label: 'Product Type',
          field: 'product_type_label',
          align: 'left'
        },
        {
          name: 'product',
          label: 'Product',
          field: 'product_label',
          align: 'left'
        },
        {
          name: 'unitprice',
          label: 'Unit Price',
          field: 'unitprice'
        },
        {
          name: 'quantity',
          label: 'Quantity',
          field: 'quantity'
        },
        {
          name: 'uom',
          label: 'Unit',
          field: 'uom',
          align: 'left'
        },
        {
          name: 'eda',
          label: 'Product Total',
          field: 'eda'
        }
      ],
      fee_columns: [
        {
          name: 'fee_category',
          label: 'Fee Category',
          field: 'fee_category',
          align: 'left'
        },
        {
          name: 'fee_description',
          label: 'Fee Description',
          field: 'fee_description',
          align: 'left'
        },
        {
          name: 'fee_amount',
          label: 'Fee Amount',
          field: 'fee_amount'
        },
      ]
    }
  },
  methods: {
    getCustsAndMercs () {
      this.$axios.get(`http://localhost:3001/cust/type/${this.custtype.value}`)
        .then((response) => {
          this.cust_list = []
          this.cust_options = []
          for (var cust in response.data) {
            this.cust_options.push ({
              label: `${response.data[cust].CUST_NO} - ${response.data[cust].NAME}`,
              value: response.data[cust].CUST_NO,
              name: response.data[cust].NAME
            })
            this.cust_list.push ({
              label: `${response.data[cust].CUST_NO} - ${response.data[cust].NAME}`,
              value: response.data[cust].CUST_NO,
              name: response.data[cust].NAME
            })
          }
        })

      this.$axios.get(`http://localhost:3001/merc/type/${this.custtype.value}`)
        .then((response) => {
          this.merc_list = []
          this.merc_options = []
          for (var merc in response.data) {
            this.merc_options.push ({
              label: `${response.data[merc].MERC_NO} - ${response.data[merc].NAME}`,
              value: response.data[merc].MERC_NO,
              trans_currency: response.data[merc].TRANS_CURRENCY,
              uom: response.data[merc].QUANTITY_TYPE
            })
            this.merc_list.push ({
              label: `${response.data[merc].MERC_NO} - ${response.data[merc].NAME}`,
              value: response.data[merc].MERC_NO,
              trans_currency: response.data[merc].TRANS_CURRENCY,
              uom: response.data[merc].QUANTITY_TYPE
            })
          }
        })

      this.$axios.get(`http://localhost:3001/product/type/${this.custtype.value}`)
        .then((response) => {
          this.product_list = []
          this.product_options = []
          for (let i in response.data) {
            this.product_options.push({
              label: response.data[i].DESCRIPTION,
              value: response.data[i].PRODUCT_CODE
            })
            this.product_list.push({
              label: response.data[i].DESCRIPTION,
              value: response.data[i].PRODUCT_CODE
            })
          }
        })

      if (this.cust_type.value == 2) {
        // TODO: Get fee category & fee description
      }
    },

    getCards() {
      if (this.custtype == 2) { return }

      this.card = null
      this.$axios.get(`http://localhost:3001/card/cust_no/${this.customer.value}`)
        .then((response) => {
          this.card_options = []
          for (var i in response.data) {
            const card = response.data[i]
            this.card_options.push ({
              label: card.track_2,
              value: card.card_no,
              pin: card.pin_no,
              unit: card.unit_no
            })
          }
        })

      this.$axios.get(`http://localhost:3001/prompt/cust_no/${this.customer.value}`)
        .then((response) => {
          for (var i in response.data) {
            console.log(response.data[i])
            switch (response.data[i].OPT) {
              case 'HUB':
                this.hub_req = response.data[i].SETTING
                break
              case 'PIN':
                this.pin_req = response.data[i].SETTING
                break
              case 'PO':
                this.po_req = response.data[i].SETTING
                break
              case 'Unit':
                this.unit_req = response.data[i].SETTING
                break
              case 'Trip':
                this.trip_req = response.data[i].SETTING
                break
            }
          }
        })
      build_auth_string(this)
    },

    buildAuthStr() {
      build_auth_string(this)
    },

    getProductTypes() {
      this.product_uom_options = []
      this.uom = null
      this.$axios.get(`http://localhost:3001/product/${this.product.value}/type`)
        .then((response) => {
          for (let i in response.data) {
            this.product_type_options.push({
              label: response.data[i].DESCRIPTION,
              value: response.data[i].PRODUCT_TYPE
            })
          }
        })

      this.$axios.get(`http://localhost:3001/product/${this.product.value}/uom`)
        .then((response) => {
          for (let i in response.data) {
            this.product_uom_options.push(response.data[i].UOM)
          }
          console.log(response.data)
          console.log(response.data.length)
          console.log(response.data[0].UOM)
          if (response.data[0].UOM == 'GAL') {
            this.uom = this.merchant.uom
          }
          else if (response.data.length == 1) {
            this.uom = response.data[0].UOM
          }
        })
    },

    getCardOption() {
      this.$axios.get(`http://localhost:3001/prompt/cust_no/${this.customer.value}/card_no/${this.card.value}`)
        .then((response) => {
          for (var i in response.data) {
            console.log(response.data[i])
            switch (response.data[i].OPT) {
              case 'HUB':
                this.hub_req = response.data[i].SETTING
                break
              case 'PIN':
                this.pin_req = response.data[i].SETTING
                break
              case 'PO':
                this.po_req = response.data[i].SETTING
                break
              case 'Unit':
                this.unit_req = response.data[i].SETTING
                break
              case 'Trip':
                this.trip_req = response.data[i].SETTING
                break
            }
          }
        })

      build_auth_string(this)
    },

    calculateTotal() {
      const unit_price = this.unit_price || 0
      const quantity = this.quantity || 0
      this.eda = Math.round(unit_price * quantity * 100) / 100.0
    },

    addItem() {
      if ( this.product && this.eda ) {
        this.items.push({
          product: this.product.value,
          product_label: this.product.label,
          product_type: this.product_type ? this.product_type.value : null,
          product_type_label: this.product_type ? this.product_type.label : null,
          unitprice: this.unit_price,
          quantity: this.quantity,
          eda: this.eda,
          uom: this.uom
        })
      }

      this.total = this.items.reduce((acc, curr) => acc + curr.eda, 0)
      this.product = null
      this.product_type = null
      this.quantity = null
      this.unit_price = null
      this.eda = 0
      this.uom = null
      this.product_uom_options = []
      this.product_type_options = []
      build_auth_string(this)
    },

    resetForm() {
      this.custtype = null
      this.customer = null
      this.cust_options = []
      this.card = null
      this.card_options = []
      this.merchant = null
      this.merc_options = []
      this.invoice = null
      this.hub = null
      this.po = null
      this.trip = null
      this.reference_id = null
      this.preauth = null
      this.auth = null
      this.commandline = null
      this.pin_req = null
      this.unit_req = null
      this.po_req = null
      this.trip_req = null
      this.hub_req = null
      this.items = []
      this.total = 0
      this.fee_list = []
      this.fee = null
    },

    custFilter(val, update) {
      update(() => {
        const needle = val.toString().toLowerCase()
        this.cust_options = this.cust_list.filter( v => {
          const v2 = v.label.toString().toLowerCase()
          return v2.indexOf(needle) > -1
        })
      })
    },

    mercFilter(val, update) {
      update(() => {
        const needle = val.toString().toLowerCase()
        this.merc_options = this.merc_list.filter( v => {
          const v2 = v.label.toString().toLowerCase()
          return v2.indexOf(needle) > -1
        })
      })
    },

    prodFilter(val, update) {
      update(() => {
        const needle = val.toString().toLowerCase()
        this.product_options = this.product_list.filter( v => {
          const v2 = v.label.toString().toLowerCase()
          return v2.indexOf(needle) > -1
        })
      })
    },

    addFee() {
      this.fee_list.push({
        category: this.fee_category,
        description: this.fee_description,
        amount: parseFloat(this.fee_amount)
      })
      this.fee_category = null
      this.fee_description = null
      this.fee_amount = 0
      build_auth_string(this)
    },
  }, // end methods

  mounted() {
    this.$axios.get(`http://localhost:3001/fee/description`)
      .then((response) => {
        this.fee_description_options = response.data
      })
    this.$axios.get(`http://localhost:3001/fee/category`)
      .then((response) => {
        this.fee_category_options = response.data
      })
  }
}
</script>
